<div class="wrapper">
  <h4>Angular 2 QuickStart</h4>
  <div>
    <button type="button" class="btn btn-primary big-font">Current User: Test@Test.com</button>
  </div>
  <br>
  <div>
    <button (click)="newProduct()" type="button" class="btn btn-success">Add Product</button>
  </div>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product Name</th>
        <th>Product Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products, let i = index">
        <td>
          <button (click)="editProduct(product)" type="button" class="btn btn-primary btn-action-edit"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <button (click)="deleteProduct(i)" type="button" class="btn btn-danger btn-action-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
        <td>{{product.name}}</td>
        <td>${{product.price}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="shouldShowModal" class="modal show fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalLiveLabel"
    style="padding-right: 17px; display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Product</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #productForm="ngForm">
            <div class="form-group">
              <label for="productName" class="font-bold">Product Name</label>
              <input [(ngModel)]="productFormValue.name" name="name" required type="text" class="form-control" id="productName"
                placeholder="Product Name">
            </div>
            <div class="form-group">
              <label for="productPrice" class="font-bold">Product Price</label>
              <input [(ngModel)]="productFormValue.price" pattern="^[0-9]+(.[0-9]*)?$" required mask="0*.0*" name="price"
                type="text" class="form-control" id="productPrice" placeholder="Product Price">
            </div>
            <button (click)="submit()" [disabled]="!productForm.valid" type="submit" class="btn btn-transparent">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>