.table {
    width: auto;
}

.modal {
    background: rgba(0,0,0,0.5);
}

.font-bold {
    font-weight: bold;
}

.btn-transparent {
    background: transparent;
    border: 1px solid #9A9799;
}

.btn-action-edit {
    font-size: 20px;
    padding: 0px 4px 0px 5px;
    margin-right: 10px;
}

.btn-action-delete {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
}

.big-font {
    font-size: 20px;
    font-weight: 500;
}